body {
    font-family: sans-serif;
    margin: 10px;
}

.item {
    margin: 20px;
}

.modal-body img {
}

ul {
    display: inline-block;
}

.ct-series-b {
    .ct-line {
        stroke: transparent;
    }
    .ct-point {
        stroke: green;
    }
    
}

.ct-series-a .ct-point {
    stroke: transparent;
}
